*{
    background-color: navajowhite;color: navy;font-family:Georgia, 'Times New Roman', Times, serif
}
h1{
    background-color: lightcoral;  color:rgb(30, 41, 94);font-family:Georgia, 'Times New Roman', Times, serif
}
h2{
    background-color: rgb(84, 203, 180); color:rgb(30, 41, 94);font-family:Georgia, 'Times New Roman', Times, serif
}
button{
    background-color: lightcoral; color:rgb(30, 41, 94);
    

}
button:hover{
    box-shadow: inset 0 0 10px black;
    cursor: pointer;
    font-weight: bold;
}
A{
    background-color: chartreuse; color:rgb(30, 41, 94);
 }
div{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
#foot{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral; color:rgb(30, 41, 94);
    }
}