<% layout("/layouts/boilerplate") -%>
<body>
    <h2>All Listings:</h2>
    <form method="GET"action="/listing/new">
        <button>Add listing</button>
    </form>
    
    <ul>
    <% for (let list of allList){ %>
    <li><a href="/listing/<%= list._id %>"> <%= list.title %> </a></li>
    <% } %>
    </ul>
</body>



