<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h2>Add a new chat :</h2>
    <form method="POST" action="/chats">
        <input placeholder="Sender's Name"name="from"><br><br>
        <input placeholder="Receiver's Name"name="to"><br><br><br>
        <textarea maxlength="250" placeholder="Write your msg here" name="msg"></textarea><br><br><br>
        <button>Add</button><br><br>
    </form>
</body>
</html>