.btn{
    height: 120px;
    width: 120px;
    border: black solid ;
    margin: 2rem;
    border-radius: 30px;
    border-width: 0.38rem;
}
body{
    text-align: center;
}
.bigbtn{
    display: flex;
    justify-content: center;
    
}
.one{
    background-color: rgb(12, 117, 222);
}
.two{
    background-color: rgb(22, 224, 76);
}
.three{
    background-color: rgb(229, 109, 34);
}
.four{
    background-color: rgb(227, 63, 153);
}
.gflash{
    background-color: white;
}
.uflash{
    background-color: black;
}
